<form id="subnetRangeCalcForm" action="/api/subnet">

    <label for="ip">
        Input the CIDR formatted IP address to calculate the subnet range:
    </label>
    <input type="text" id="ip" name="ip" />
    
    <input type="submit" value="Calculate" />

</form>

{# {% block scripts %}
    <script src="js/SubnetRangeCalcFormHandler.js"></script>
{% endblock %} #}