<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>IPcalcavel {% block title %}{% endblock %}</title>

        <link rel="stylesheet" href="css/app.css" />
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        {% include 'components/header' %}

        <div class="content">
            {% block content %}{% endblock %}
        </div>

        {% include 'components/footer' %}
        
        <!-- for some reason this is not being seen inside the component  -->
        <script src="js/jQuery.min.js"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>