@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
    --blue-light: #0114d9;
    --blue: #010C80;
}  

body {
    display: flex;
    flex-direction: column;

    margin: 0;
    min-height: 100vh;
}


header {
    display: flex;
    justify-content: center;

    height: 5rem;
    
    color: white;
    background-color: var(--blue);
}

footer {
    margin: 1rem;
    margin-top: auto;
    align-self: flex-end;
}

h1 {
    font-family: 'Lato', sans-serif;
}

.content {
    margin: 1rem;
}

.subnet-range-calc {
    display: flex;
    flex-direction: column;

    width: 30rem;
    margin: auto;
}
#subnet-range-calc-form {
    margin: 2rem auto;
    width: 100%;
}
.subnet-range-calc-form-group {
    display: flex;
    flex: row;
    padding: 5px;
}
.subnet-range-calc-input {
    width: 30rem;
    padding: 0.25rem;
    font-size: large;
    border: none;
    border-bottom: 1px solid black;
}
.subnet-range-calc-input:focus {
    outline: none;
}
.subnet-range-calc-submit {
    align-self: flex-end;
    background: var(--blue);
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    font-size: large;
    padding: 10px;
}
.subnet-range-calc-submit:hover {
    cursor: pointer;
    background: var(--blue-light); 
}



